boto3==1.5.22
botocore==1.8.36
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.9
django-cors-headers==2.1.0
django-countries==5.0
django-filter==1.1.0
django-templated-mail==1.0.0
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
djoser==1.1.5
docutils==0.14
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.7.1
idna==2.6
iso8601==0.1.12
jmespath==0.9.3
Markdown==2.6.11
promise==2.1
psycopg2==2.7.3.2
PyJWT==1.5.3
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
Rx==1.6.0
s3transfer==0.1.12
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.4
urllib3==1.22
whitenoise==3.3.1
